---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Dot Dager - Web">
  <main
    class="flex relative md:flex-row my-10 flex-col h-screen justify-center items-center gap-6"
  >
    <article class="w-full flex flex-col items-center md:items-start gap-6">
      <h2 class="text-4xl font-bold">
        Bienvenidos A mi <span class="text-palette5">Web Personal.</span>
      </h2>
      <!-- TODO: agregar una animacion par que cambie las frases solas  -->
      <span class="text-palette6 md:text-xl font-medium"
        >Soy Dot Dager o Mariano Villa, Full-stack senior, Contador Serial de
        Chistes de Mierda, Creador de Contenido, Amante de los Pepinos <span
          class="text-xl relative font-bold text-palette4 textHover"
          >Grandes Y Jugosos .</span
        > 🤤
      </span>
      <ul class="flex gap-5 [&>li]:w-12 [&>li]:h-12 [&>li]:bg-palette3">
        <li
          class="flex justify-center items-center hover:scale-125 transition-transform hover:bg-palette2 rounded-full"
        >
          <a target="_blank" href="https://github.com/MarianoVilla">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
          </a>
        </li>
        <li
          class="flex justify-center items-center hover:scale-125 transition-transform hover:bg-palette2 rounded-full"
        >
          <a target="_blank" href="https://www.youtube.com/@DotDager/videos">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
              ></path><path d="M10 9l5 3l-5 3z"></path></svg
            >
          </a>
        </li>
        <li
          class="flex justify-center items-center hover:scale-125 transition-transform hover:bg-palette2 rounded-full"
        >
          <a target="_blank" href="https://www.instagram.com/dager.32/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M16.5 7.5v.01"></path></svg
            >
          </a>
        </li>
      </ul>
    </article>
    <img
      class="w-[300px] object-cover h-[300px] rounded-full"
      src="./DangharTemplate_1732155475966-compress.webp"
      alt="imagen de dager hablando con microfono"
      title="Dager Mirandote con Deseo..."
    />
  </main>
  <section class="h-full py-10 flex items-center flex-col gap-7">
    <header>
      <h2 class="text-3xl font-semibold mb-5 text-palette6">
        Un poco mas Sobre mi
      </h2>
      <p class="text-md text-palette3">
        Se que Te Chupa un Huevo pero como es mi pagina lo voy a poner...
      </p>
    </header>
    <div class="flex w-full gap-10 justify-center flex-wrap py-10">
      <Card
        content="Ago Streams en youtube y twitch, Programando jugando y hablando tengo (87.9 k suscriptores) en Youtube"
        url="DangharTemplate_1732155475966-compress.webp"
        alt="dager en stream"
      />
      <Card
        content="Me gustan los Gatos, Como vos 😘"
        url="DangharTemplate_1732155463223-compress.webp"
        alt="dager con su gato"
      />
      <Card
        content="Me gustan la Musica y la Filosofia, tengo un canal donde subo mi Musica es (DagerMusic) en Youtube"
        url="Screenshot 2024-06-22 17-50-49_1732155516222-compress.webp"
        alt="dager tomando fernet"
      />
      <Card
        content="Me Apasiona la Programacion con el Lenguaje C# por que Java me parece una Mierda"
        url="Thumb_1732155531027-compress.webp"
        alt="dager siendo Hacker"
      />
    </div>
  </section>
  <footer class="w-full p-3 flex flex-col gap-5 relative h-54 bg-palette1">
    <p class="text-md font-semibold text-palette3">
      Podes seguirme en mis Redes Sociales. y la tula te va a crecer 2cm Tengo
      testimonios que Crecen de verdad no es que les este mirando la tula a
      todos los que me siguen solo algunos.
    </p>
    <ul class="flex gap-5 [&>li]:w-12 [&>li]:h-12 [&>li]:bg-palette3">
      <li
        class="flex justify-center items-center hover:scale-125 transition-transform hover:bg-palette2 rounded-full"
      >
        <a target="_blank" href="https://github.com/MarianoVilla">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path></svg
          >
        </a>
      </li>
      <li
        class="flex justify-center items-center hover:scale-125 transition-transform hover:bg-palette2 rounded-full"
      >
        <a target="_blank" href="https://www.youtube.com/@DotDager/videos">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-youtube"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
            ></path><path d="M10 9l5 3l-5 3z"></path></svg
          >
        </a>
      </li>
      <li
        class="flex justify-center items-center hover:scale-125 transition-transform hover:bg-palette2 rounded-full"
      >
        <a target="_blank" href="https://www.instagram.com/dager.32/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
              d="M16.5 7.5v.01"></path></svg
          >
        </a>
      </li>
    </ul>
  </footer>
</Layout>

<style>
  .textHover:hover::after {
    position: absolute;
    content: "A vos tambien te gustan, no te hagas";
    width: 140px;
    color: #fafafa;
    padding: 5px 10px;
    border-radius: 10px;
    background: #101010;
  }
</style>
