---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/webp"
      href="./111bf284-b096-40a5-a4e1-e854fc58afc9_1732155374660-compress.webp"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply grid place-content-center;
    min-height: 100vh;
    color: #fafafa;
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-image: linear-gradient(to right, #1f2129 1px, transparent 1px),
      linear-gradient(to bottom, #1f2129 1px, transparent 1px);
    background-size: 4vh 4vh;
  }

  body > main {
    @apply container  px-20;
  }
</style>
